In [4]:
import time
lista = []
inicio=time.time()
for numero in range(0,100000000):
 lista.append(numero**2)

fin=time.time()
print(f'Tiempo: {fin-inicio}')

Tiempo: 5.772026300430298

In [5]:
inicio=time.time()
lista = [numero**2 for numero in range(0,100000000)]
fin=time.time()
print(f'Tiempo: {fin-inicio}')

Tiempo: 4.513156890869141

In [ ]:
def suma(x,y):
    return x+y
print(suma(3,5))

In [6]:
suma = lambda x, y: x + y
print(suma(3, 5))

8

In [9]:
lista_palabras = ["manzana", "hola", "Santiago", "si", "peregrino"]
cad_l = list(filter(lambda palabra: len(palabra) >= 5, lista_palabras))
print(cad_l)

['manzana', 'Santiago', 'peregrino']

In [10]:
numeros = range(0,101) # [0,1,2,3]
cuadrados = list(map(lambda x: x ** 2, numeros))
print(cuadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [7]:
expr = "2+5++++24++53++39++98"
res = 0
print(expr.split("+"))
for t in expr.split("+"):
 if t != '':
  res += int(t)
  print(f'"{t}": {int(t)}')
print(f'Resultado:{res}')

['2', '5', '', '', '', '24', '', '53', '', '39', '', '98']
"2": 2
"5": 5
"24": 24
"53": 53
"39": 39
"98": 98
Resultado:221

In [8]:
from functools import reduce
from operator import add

expr = "2+5++++24++53++39++98"
res = reduce(add, map(int, filter(bool, expr.split("+"))))
print(f'Resultado:{res}')

Resultado:221

In [ ]:
print(f'Convierte cadena en lista: {expr.split("+")}')

print(f'Filtra las cadenas vacía de la lista: {list(filter(bool, expr.split("+")))}')

print(f'Convierte cada elemento de la lista en un entero: {list(map(int, filter(bool, expr.split("+"))))}')

print(f'Suma elementos de la lista de enteros:{res}')

In [15]:
names = ["  Ana  ", "PeDro", "mArIa", "  juan", "LUCÍA  "]
sol1 = list(map(lambda s: s.strip().lower().title(), names))
print(sol1)

['Ana', 'Pedro', 'Maria', 'Juan', 'Lucía']

In [14]:
def clean_values(s):
    s=s.strip().lower()
    s=s.title()
    return s

names = ["  Ana  ", "PeDro", "mArIa", "  juan", "LUCÍA  "]
sol1 = list(map(lambda s: clean_values(s), names))
print(sol1)

['Ana', 'Pedro', 'Maria', 'Juan', 'Lucía']

In [11]:
# 1) Normalizar nombres
names = ["  Ana  ", "PeDro", "mArIa", "  juan", "LUCÍA  "]
sol1 = list(map(lambda s: s.strip().title(), names))
print(sol1)

['Ana', 'Pedro', 'Maria', 'Juan', 'Lucía']

In [17]:
def clean_values(x):
    if x< 0:
       value_to_return= 0
    else:
        if x > 10:
           value_to_return= 10
        else:
           value_to_return= x
    return value_to_return


xs = [-5, -1, 0, 3, 10, 11, 25, 7, -20]
sol3 = list(map(lambda x: 0 if x < 0 else (10 if x > 10 else x), xs))
print(sol3)
x= 1

[0, 0, 0, 3, 10, 10, 10, 7, 0]

In [1]:




# 1) Normalizar nombres
names = ["  Ana  ", "PeDro", "mArIa", "  juan", "LUCÍA  "]
sol1 = list(map(lambda s: s.strip().title(), names))
print(sol1)

# 2) Filtrar emails válidos
emails = ["ana@usc.es", "luis.usc.es", "eva@@mail.com", "pepe@mail",
          "maria@correo.com", "x@y.z", "@dominio.com", "nombre@dominio."]

def is_valid_email(s):
    if s.count("@") != 1:
        return False
    local, domain = s.split("@")
    # al menos un '.' en el dominio y que no esté al final (para evitar "dominio.")
    return "." in domain and not domain.endswith(".")

sol2 = list(filter(is_valid_email, emails))
print(sol2)

# 3) Clamp a [0,10]
xs = [-5, -1, 0, 3, 10, 11, 25, 7, -20]
sol3 = list(map(lambda x: 0 if x < 0 else (10 if x > 10 else x), xs))
print(sol3)

# 4) (n_pares, n_impares)
xs = [12, 7, 0, 3, 18, 21, 44, 9, 2, 1]
n_pares = sum(map(lambda x: x % 2 == 0, xs))
sol4 = (n_pares, len(xs) - n_pares)
print(sol4)

# 5) Producto escalar
a = [1, 2, 3, 4]
b = [10, 20, 30, 40]
sol5 = sum(map(lambda i: a[i] * b[i], range(len(a))))
print(sol5)

# 6) Persona con mayor edad
people = [{"name":"Ana","age":31},{"name":"Luis","age":28},
          {"name":"Eva","age":35},{"name":"Noa","age":35},{"name":"Iago","age":19}]
sol6 = max(people, key=lambda p: p["age"])
print(sol6)

# 7) Filtrar entre 3 y 8 (incluidos)
xs = [1,2,3,4,5,6,7,8,9,10]
sol7 = list(filter(lambda x: 3 <= x <= 8, xs))
print(sol7)

# 8) Cuadrados de los pares
xs = [1,2,3,4,5,6,7,8,9,10]
sol8 = list(map(lambda x: x * x, filter(lambda x: x % 2 == 0, xs)))
print(sol8)

# 9) Suma de elementos
xs = [3, 1, 4, 1, 5, 9, 2]
sol9 = sum(xs)
print(sol9)

# 10) Palabras en mayúsculas
words = ["rml", "rdf", "owl", "rdf", "rml", "sparql"]
sol10 = list(map(str.upper, words))
print(sol10)

['Ana', 'Pedro', 'Maria', 'Juan', 'Lucía']
['ana@usc.es', 'maria@correo.com', 'x@y.z', '@dominio.com']
[0, 0, 0, 3, 10, 10, 10, 7, 0]
(5, 5)
300
{'name': 'Eva', 'age': 35}
[3, 4, 5, 6, 7, 8]
[4, 16, 36, 64, 100]
25
['RML', 'RDF', 'OWL', 'RDF', 'RML', 'SPARQL']